# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

#_posts/2023-1-6-Deploying-IBM-Watson-NLP-to-KServe-Modelmesh-OpenShift-DRAFT.md
#_posts/2023-1-12-Introducing-IBM-Instana-Observability
#_posts/2023-1-12-Observing-Cloud-Native-Applications-With-IBM-Instana.md